<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>COVID Reporting Form</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>

    <!-- Site Script -->
    <script src="/static/script.js" defer></script>
  </head>

  <body>
    <img src="/static/img1.jpg" style="width: 100%">

    <div class="container">
      <h1>Covid Reporting Form</h1>

      <a href="{{ ext_url }}" style="position: absolute; left: 2vw; top: 2vw; width: 40vw; background-color: #ffffff55; padding: 8px;"><img src="/logo" width="100%" /></a>

      {% if status %}

      <div class="card-panel {{colour}}">{{msg}}</div>

      {% endif %}

      <form method="post">
        <h3> Personal Information </h3>

        {% if internal %}

          <div class="input-field" style="border: 1px solid #e8e8e8">
            <select required name="name" class="browser-default">
              {% if not has_name %}
                <option value="" disabled selected>Please select your name</option>
              {% endif %}

              {% for id, name in employees %}
                {% if name == selected_name %}
                  <option value="{{ id }}" selected>{{ name }}</option>
                {% else %}
                  <option value="{{ id }}">{{ name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>


        {% else %}

          <br>

          <div class="input-field">
            <input id="name" name="name" type="text" class="validate" required>
            <label for="name">Full Name</label>
          </div>

          <div class="input-field">
            <input id="organization" name="organization" type="text" class="validate" required>
            <label for="organization">Organization</label>
          </div>

        {% endif %}

        <h3> Symptoms </h3>

        <p>
          Do you have any of the following new or worsening symptoms or signs? <i>Symptoms should not be chronic or related to other known causes or conditions.</i>
        </p>

        <ul class="collection">
          <li class="collection-item">
            Fever and/or chills
          </li>

          <li class="collection-item">
            Cough or Barking Cough (croup)
          </li>

          <li class="collection-item">
            Shortness of Breath
          </li>

          <li class="collection-item">
            Sore throat
          </li>

          <li class="collection-item">
            Difficulty Swallowing
          </li>

          <li class="collection-item">
            Runny or stuffy/congested nose
          </li>

          <li class="collection-item">
            Decrease or loss of taste or smell
          </li>

          <li class="collection-item">
            Pink eye
          </li>

          <li class="collection-item">
            Headache
          </li>

          <li class="collection-item">
            Digestive Issues like nausea/vomiting, diarrhea, stomach pain
          </li>

          <li class="collection-item">
            Muscle Aches
          </li>

          <li class="collection-item">
            Extreme tiredness
          </li>

          <li class="collection-item">
            Falling down often
          </li>

        </ul>

        <br>

        <div class="row">
         <label class="col s4 m2 l1">
           <input class="with-gap" name="symptoms" value="on" type="radio" required />
           <span>Yes</span>
          </label>

          <label class="col s4 m2 l1">
            <input class="with-gap" name="symptoms" value="off" type="radio" required />
            <span>No</span>
          </label>
        </div>



        <h3> Travel </h3>

        <p>
          In the last 14 days, have you travelled outside of Canada and been told to quarantine (per the federal quarantine requirements)?
        </p>

        <div class="row">
          <label class="col s4 m2 l1">
            <input class="with-gap" name="travel" value="on" type="radio" required />
            <span>Yes</span>
	        </label>

          <label class="col s4 m2 l1">
            <input class="with-gap" name="travel" value="off" type="radio" required />
	          <span>No</span>
          </label>
        </div>

        <h3> Close Contact </h3>

        <p>
          In the last 14 days, have you been identified as a “close contact” of someone who currently has COVID-19?
        </p>

        <div class="row">
         <label class="col s4 m2 l1">
           <input class="with-gap" name="contact" value="on" type="radio" required />
           <span>Yes</span>
          </label>

          <label class="col s4 m2 l1">
            <input class="with-gap" name="contact" value="off" type="radio" required />
            <span>No</span>
          </label>
        </div>

        <h3> Asked to Self Isolate? </h3>

        <p>
          Has a doctor, health care provider, or public health unit told you that you should currently be isolating (staying at home)?
        </p>

        <div class="row">
         <label class="col s4 m2 l1">
           <input class="with-gap" name="self_isolate" value="on" type="radio" required />
           <span>Yes</span>
          </label>

          <label class="col s4 m2 l1">
            <input class="with-gap" name="self_isolate" value="off" type="radio" required />
            <span>No</span>
          </label>
        </div>

        <h3>COVID Alert</h3>

        <p>
          In the last 14 days, have you received a COVID Alert exposure notification on your cell phone?
        </p>

        <p>
          If you already went for a test and got a negative result, select “No.”
        </p>

        <div class="row">
         <label class="col s4 m2 l1">
           <input class="with-gap" name="covid_alert" value="on" type="radio" required />
           <span>Yes</span>
          </label>

          <label class="col s4 m2 l1">
            <input class="with-gap" name="covid_alert" value="off" type="radio" required />
            <span>No</span>
          </label>
        </div>

        <h3> Test Results </h3>

        <p>
          Is anyone you live with currently experiencing any new COVID-19 symptoms and/or waiting for test results after experiencing symptoms?
        </p>

        <div class="row">
         <label class="col s4 m2 l1">
           <input class="with-gap" name="test_results" value="on" type="radio" required />
           <span>Yes</span>
          </label>

          <label class="col s4 m2 l1">
            <input class="with-gap" name="test_results" value="off" type="radio" required />
            <span>No</span>
          </label>
        </div>

        <br>

        <p>
          <b> If you answered NO to all questions, you have passed. </b>
        </p>

        <p>
          <b> If you answered YES to any question, you must: </b>
        </p>

        <ul class="collection">
          <li class="collection-item">Go home to self-isolate.</li>

          <li class="collection-item">
            Contact your direct Supervisor/Manager or HR.
          </li>

          <li class="collection-item">
            Complete the <a href="https://covid-19.ontario.ca/self-assessment/">online Self-Assessment.</a> (https://covid-19.ontario.ca/self-assessment/)
          </li>

          <li class="collection-item">
            Contact your Healthcare provider or <a href="tel:18667970000">Telehealth Ontario</a>. (1 866-797-0000)
          </li>

          <li class="collection-item">
            You should strongly consider getting tested for COVID-19.
          </li>
        </ul>


        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>

      <br>
    </div>

    <!-- <img src="/static/img2.jpg" style="width: 100%"> -->
  </body>

</html>
